@model IEnumerable<LaboTournoi.DAL.Entities.Tournament>
<h2>Tournois </h2>

<table style="width:90%">
    <tr>
        <th>Id</th>
        <th>Date limited registration</th>
        <th>Number Player</th>
        <th>Admine Id</th>

    </tr>
    @foreach (LaboTournoi.DAL.Entities.Tournament item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.LimitDate</td>
            <td>@item.NbPlayer</td>
            <td>@item.AdminId</td>
            <td><input type="submit" value="Delete" class="btn btn-default" /></td>
            

        </tr>

    }
</table>
